[Unit]
Description=Apache SOLR
Requires=$remote_fs $syslog
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=/etc/default/solr-in.sh
PIDFile=/opt/solr/bin/solr-8983.pid
User=solr
Group=solr
ExecStart=$SOLR_HOME/bin/solr start -e cloud -z zoo1:2181,zoo2:2181,zoo3:2181 -noprompt
ExecStatus=$SOLR_HOME/bin/solr status
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
[Install]
WantedBy=multi-user.target
